{% raw %}{% extends "layouts/index.html" %}

{% block body %}
<div class="container mx-auto p-4">
  <h2 class="text-4xl mb-4">Sign In</h2>

  <form method="post">
    {{ form.hidden_tag() }}

    <div class="mb-2">
      {{ form.email.label }}
      {{ form.email(
          size=32,
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1",
          placeholder="you@example.com"
         )
      }}
      {% for error in form.email.errors %}
        <p class="py-1 px-1 text-pink-500">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="mb-2">
      {{ form.password.label }}
      {{ form.password(
          size=32,
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1",
          placeholder="password"
        )
      }}
      {% for error in form.password.errors %}
        <p class="py-1 px-1 text-pink-500">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="flex justify-between">
      <a class="font-semibold underline decoration-sky-500" href="{{ url_for('user.forgot_password') }}">Forgot your password?</a>
      <div>
        {{ form.submit(class="p-2 w-28 text-white rounded-lg bg-sky-500") }}
      </div>
    </div>
  </form>
</div>
{% endblock body %}{% endraw %}