{% raw %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A production ready example Flask app that's using Docker and Docker Compose.">
    
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/app.css') }}">
    <script defer src="{{ static_url_for('static', filename='js/app.js') }}"></script>
  </head>
  
  <body class="flex flex-col h-screen">
    {% include "partials/header.html" %}
    <main>
      {% include "partials/messages.html" %}
      {% block body %}
      {% endblock %}
    </main>
  </body>
</html>{% endraw %}